<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WebRTC peerJs</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}

		body {
			padding-top: 5rem;
		}
	</style>

	<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item active">
						<a class="nav-link" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
						<ul class="dropdown-menu" aria-labelledby="dropdown01">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>

	<main class="container" id="app">
		<h1>peerJs</h1>
		<div>
			My peer ID is: {{ myPeerId }}
		</div>

		<div v-show="uiState.showConnectButton">
			<input type="text" v-model="connectToPeerId">
			<button v-show="uiState.showConnectButton" @click="connectPeer">Connect</button>
		</div>
		<button v-show="uiState.showCloseConnectButton" @click="closeConnect">close</button>

		<div v-show="uiState.showMessage">
			<div>
				<input type="text" v-model="sendMessage">
				<button @click="sendMessageToPeer">send</button>
			</div>
			<div>
				<h2>送信メッセージ</h2>
				<p v-for="sendMessage in sendMessageList">{{ sendMessage.body }}</p>
			</div>
			<div>
				<h2>受信メッセージ</h2>
				<p v-for="receveMessage in receveMessageList">{{ receveMessage.body }}</p>
			</div>
		</div>
	</main>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script>
	var app = new Vue({
		el: '#app',
		data: {
			uiState: {
				showConnectButton: true,
				showCloseConnectButton: false,
				showMessage: false,
			},
			myPeerId: '',
			connectToPeerId: '',
			peer: null,
			connect: null,
			sendMessageList: [],
			receveMessageList: [],
			sendMessage: '',
		},
		mounted: function () {
			this.peer = new Peer();
			this.peer.on('open', function(id) {
				app.myPeerId = id;
			});
			this.peer.on('connection', function(conn) {//受信側
				app.connect = conn;
				// 接続できたら場合のUI表示
				app.uiState.showConnectButton = false;
				app.uiState.showCloseConnectButton = true;
				app.uiState.showMessage = true;

				conn.on('data',function(data) {//メッセージを受け取った時に受信一覧に追加
					app.receveMessageList.push({body: data});
				});
				conn.on('close', function() {
					app.uiState.showConnectButton = true;
					app.uiState.showCloseConnectButton = false;
				});
			});

		},
		methods: {
			connectPeer: function(){
				this.connect = this.peer.connect(this.connectToPeerId);
				this.connect.on('open', function() {//送信側
					// 接続できたら場合のUI表示
					app.uiState.showConnectButton = false;
					app.uiState.showCloseConnectButton = true;
					app.uiState.showMessage = true;

					app.connect.on('data', function(data) {//メッセージを受け取った時に受信一覧に追加
						app.receveMessageList.push({body: data});
					});

				});
			},
			closeConnect: function(){
				this.connect.close();
				this.uiState.showConnectButton = true;
				this.uiState.showCloseConnectButton = false;
				this.connectToPeerId = '';
			},
			sendMessageToPeer: function(){
				this.sendMessageList.push({body: this.sendMessage});
				this.connect.send(this.sendMessage);
				this.sendMessage = '';
			}
		}
	})

	</script>
</body>
</html>
