<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WebRTC</title>
</head>
<body>
	<p>WEBカメラ</p>
	<div>
		<video id="video"></video>
		<button id="startbutton" onclick="takepicture()">Take photo</button>
	</div>
	<div>
		<img id="photo">
	</div>

	<script>

	const video = document.getElementById("video")
	const photo = document.getElementById('photo');
	const canvas = document.createElement("canvas");

	navigator.mediaDevices.getUserMedia({
		video: true,
		audio: false,
	}).then(stream => {
		video.srcObject = stream;
		video.play()
	}).catch(e => {
		console.log(e)
	})

	function clearphoto() {
		var context = canvas.getContext('2d');
		context.fillStyle = "#AAA";
		context.fillRect(0, 0, canvas.width, canvas.height);

		var data = canvas.toDataURL('image/png');
		photo.setAttribute('src', data);
	}

	function takepicture() {
		var context = canvas.getContext('2d');
		var width = video.videoWidth;
		var height= video.videoHeight;
		canvas.width = width;
		canvas.height = height;
		context.drawImage(video, 0, 0, width, height);

		var data = canvas.toDataURL('image/png');
		photo.setAttribute('src', data);
	}
</script>
</body>
</html>
