<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WebRTC peerJs</title>
	<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<h1>peerJs</h1>
		<!-- TODO: https://peerjs.com/docs.html#start -->
		<div>
			My peer ID is: {{ myPeerId }}
		</div>

		<div v-show="uiState.showConnectButton">
			<input type="text" v-model="connectToPeerId">
			<button v-show="uiState.showConnectButton" @click="connectPeer">Connect</button>
		</div>
		<button v-show="uiState.showCloseConnectButton" @click="closeConnect">close</button>

		<div v-show="uiState.showMessage">
			<div>
				<input type="text" v-model="sendMessage">
				<button @click="sendMessageToPeer">send</button>
			</div>
			<div>
				<h2>送信メッセージ</h2>
				<p v-for="sendMessage in sendMessageList">{{ sendMessage.body }}</p>
			</div>
			<div>
				<h2>受信メッセージ</h2>
				<p v-for="receveMessage in receveMessageList">{{ receveMessage.body }}</p>
			</div>
		</div>
	</div>

	<script>
	var app = new Vue({
		el: '#app',
		data: {
			uiState: {
				showConnectButton: true,
				showCloseConnectButton: false,
				showMessage: false,
			},
			myPeerId: '',
			connectToPeerId: '',
			peer: null,
			connect: null,
			sendMessageList: [],
			receveMessageList: [],
			sendMessage: '',
		},
		mounted: function () {
			this.peer = new Peer();
			this.peer.on('open', function(id) {
				app.myPeerId = id;
			});
			this.peer.on('connection', function(conn) {
				app.uiState.showConnectButton = false;
				app.uiState.showCloseConnectButton = true;
				app.uiState.showMessage = true;

				conn.on('data',function(data) {
					app.receveMessageList.push({body: data['string']});
				});
				conn.on('close', function() {
					app.uiState.showConnectButton = true;
					app.uiState.showCloseConnectButton = false;
				});
			});

		},
		methods: {
			connectPeer: function(){
				this.connect = this.peer.connect(this.connectToPeerId);
				this.connect.on('open', function() {
					app.uiState.showConnectButton = false;
					app.uiState.showCloseConnectButton = true;
					app.uiState.showMessage = true;

					var message = 'Hello World!';
					app.sendMessageList.push({body: message});
					app.connect.send(message);
				});
			},
			closeConnect: function(){
				this.connect.close();
				this.uiState.showConnectButton = true;
				this.uiState.showCloseConnectButton = false;
				this.connectToPeerId = '';
			},
			sendMessageToPeer: function(){
				this.sendMessageList.push({body: this.sendMessage});
				this.connect.send(this.sendMessage);
				this.sendMessage = '';
			}
		}
	})




	</script>
</body>
</html>
