<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WebRTC peerJs</title>
	<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<h1>peerJs</h1>
		<!-- TODO: https://peerjs.com/docs.html#start -->
		<div>
			My peer ID is: {{ myPeerId }}
		</div>

		<div>
			<input type="text" v-model="connectToPeerId">
			<button @click="connectPeer">Connect</button>
			<button disabled>Disconnect</button>
		</div>
	</div>



	<script>
	var app = new Vue({
		el: '#app',
		data: {
			myPeerId: '',
			connectToPeerId: '',
			peer: null,
			connect: null,
		},
		mounted: function () {
			this.peer = new Peer();
			this.peer.on('open', function(id) {
				app.myPeerId = id;
			});
			this.peer.on('connection', function(conn) {
				console.log(conn);
				conn.on('data',function(data) {
					console.log(data['string']);
				});
			});
		},
		methods: {
			connectPeer: function(){
				var connect = this.peer.connect(this.connectToPeerId);
				connect.on('open', function() {
					connect.send({
						string : 'Hello World!',
						number : 1
					});
				});

			},
		}
	})




	</script>
</body>
</html>
